# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
.python_packages
__pycache__
.venv

# Azure App Service artifacts
.env
.pem
.deployment

# macOS  custom attributes file
.ds_store

# Configured custom script extensions, powershell scripts, and linux scripts
priv-*

# Visual Studio Code
.vscode

# temporary files
flask_session

# node modules
/node_modules
/package-lock.json
/package.json
application/single_app/static/.DS_Store
application/external_apps/bulkloader/map.csv

flask_session
**/abd_proto.py
**/my_chart.png
**/sample_pie.csv
**/sample_stacked_column.csv
tmp**cwd
/tmp_images
nul
/.github/plans
*.xlsx
/artifacts/tests
/artifacts/tmp/*
/artifacts/tmp
Demo testing/artifacts/
scripts/agent.json
scripts/me.json
.github/instructions/python-venv-path.instructions.md
.github/instructions/local.instructions.md


deploy.zip
.azure/deployment-plan.md
application/teams_app/manifest.json
application/teams_app/*.zip

local_storage_state.json
