# requirements.txt
pandas==2.2.3
azure-monitor-query==1.4.1
Flask==3.1.3
Flask-WTF==1.2.1
gunicorn==25.0.3
Werkzeug==3.1.6
requests==2.33.1
openai==1.109.1
docx2txt==0.8
olefile==0.47
Markdown==3.8.1
bleach==6.4.0
azure-cosmos==4.9.0
msal==1.31.0
Flask-Session==0.8.0
azure-ai-documentintelligence==1.0.2
numpy==2.1.1
scikit-learn==1.5.2
SciPy==1.15.1
joblib==1.4.2
threadpoolctl==3.5.0
azure-search-documents==11.5.3
python-dotenv==1.2.2
azure-ai-formrecognizer==3.3.3
azure-ai-projects==1.0.0
azure-ai-agents==1.2.0b6
pyjwt==2.13.0
markdown2==2.5.5
azure-mgmt-cognitiveservices==13.6.0
azure-identity==1.23.0
azure-ai-contentsafety==1.0.0
azure-storage-blob==12.24.1
azure-storage-file-share==12.25.0
azure-storage-queue==12.12.0
azure-keyvault-secrets==4.10.0
pypdf==6.13.3
python-docx==1.1.2
python-pptx==1.0.2
flask-executor==1.0.0
PyMuPDF==1.25.3
langchain-text-splitters==1.1.2
beautifulsoup4==4.13.3
openpyxl==3.1.5
xlrd==2.0.1
pillow==12.2.0
ffmpeg-binaries-compat==1.0.1
ffmpeg-python==0.2.0
semantic-kernel==1.39.4
snowflake-connector-python[pandas]==3.18.0
tableauserverclient==0.40
protobuf==6.33.5
redis==5.3.1
smbprotocol==1.15.0
pyodbc==5.3.0
PyMySQL==1.1.2
azure-monitor-opentelemetry==1.6.13
psycopg2-binary==2.9.10
cython==3.2.4
pyyaml==6.0.2
aiohttp==3.14.1
html2text==2025.4.15
matplotlib==3.10.7
azure-cognitiveservices-speech==1.48.2
playwright==1.58.0